h1, p {
  font-family: Lato;

}

.mainDiv {
  background: url('https://image.shutterstock.com/z/stock-vector-fresh-orange-abstract-background-geometry-shine-and-layer-element-vector-for-presentation-design-1705823245.jpg');

  height: 965px;
  border-radius: 5px;
  
}

.div2 {
  width: 1595px;
  padding: 10px;
  background-color: antiquewhite;
  border-radius: 35px; 
}

.div1 {
  width: 1600px;
  padding: 20px; 
  background-color: rgb(158, 137, 214);
  border-radius: 35px;
}

main {
  width: 1600px; 
  margin: auto;
  background-color:  antiquewhite;
  height: 965px;
  border-radius: 35px;
}
